
Planetoid M6-{{use('d100')}}/{{use('d199+1')}}{{rpggen.chars(2)}}{{use('d199+1')}}
{{use('size')}} sized planetoid. 
Made of {{use('material')}} {{use('extra')}}
As the character's ship approaches {{use('approach')}}
{{use('interest')}} 

--------------------------
